*{
	margin:0;
	padding:0;
}

.app {
	display:grid;
	grid-template-areas:
	"sidebar header"
	"sidebar content"
	"sidebar footer"
	; 
}

.sidebar {
	height:100vh;
	box-shadow:1px 1px 1px 1px #d3d3d3;
}
.sidebar .profile {
	color:blue;
	text-decoration:none;
}
.sidebar nav {
	height:80vh;
	padding:0.5vh 3vw;
	background-color:#3c87c0;
}
.sidebar nav ul {
	margin:3vh 0;
	color:#fff;
}
.sidebar nav ul li {
	list-style:none;
}
.sidebar nav ul li a {
	color:#fff;
	text-decoration:none;
}
.sidebar nav ul li a:hover {
	color:lightgrey;
}
.sidebar nav ul li ul {
	display:none;
	margin:1vh 0;
}
.sidebar nav ul li:hover ul {
	display:block;
}


.container .header {
	margin:3vh 0;
}

.container .content {
	margin:3vh 0;
}

.container .footer {
	/*position:absolute;*/
	margin:1vh 0;
	bottom:0;
}

.row {
	display:flex;
	flex-direction:row;
}
.col {
	display:flex;
	flex-direction:column;
}

.card {
	display:grid;
	padding:10px;
	box-shadow:1px 1px 1px 1px #d3d3d3;
	grid-row:4;
}

.card .tl {
	margin:10px 10px 10px 10px;
}
.card .ct {
	margin:15px 10px 10px 10px;
}
.card .ft {
	margin:15px 1px 1px 1px;
}

.card-small {
	display:grid;
	width:10vw;
	padding:10px;
	box-shadow:1px 1px 1px 1px #d3d3d3;
	grid-row:4;
}

.card-small .tl {
	margin:10px 10px 10px 10px;
}
.card-small .ct {
	margin:15px 10px 10px 10px;
}
.card-small .ft {
	margin:15px 1px 1px 1px;
}

.table {
	border-collapse:collapse;
	overflow-x:auto;
}
.table tr:nth-child(even) {
	background-color:#f2f2f2;
}
.table tr:hover {
	background-color:#f5f5f5;
}
.table th {
	padding:7px;
	color:#fff;
	background-color:#3c87c0;
}
.table td {
	padding:7px;
}

.form .input {
	padding:2px;
	border-radius:25px;
}

.gc-cl-1 {
	display:grid;
	grid-row:1;
	grid-template-areas:"col1";
	grid-gap:7px;
}
.gc-cl-2 {
	display:grid;
	grid-template-areas:"col1 col2";
	grid-gap:7px;
}

.btn {
	all:unset;
	/*width:65px;*/
	height:30px;
	padding-left:6px;
	box-sizing:border-box;
	border-radius:25px;
	box-shadow:1px 1px 1px 1px #d3d3d3;
	background-color:#ffffff;
	border-color:#ffffff;
	cursor:pointer;
}
.text-right {
	text-align:right;
}


@media (min-width:300px) {
	.sidebar {
		width:35vw;
	}
	.sidebar .profile {
		padding:3vh 6vw;
	}
	.sidebar .profile img {
		width:20vw;
		height:15vh;
	}
	.sidebar .profile .name-users {
		margin:0 4vw;
	}

	.container {
		width:65vw;
		margin:0 3vw;
	}
	.container .card {
		width:50vw;
	}
}

@media (min-width:500px) {
	.sidebar {
		width:30vw;
	}
	.sidebar .profile img {
		width:20vw;
		height:17vh;
	}
	.sidebar .profile {
		padding:3vh 4vw;
	}
	.sidebar .profile .name-users {
		margin:0 4vw;
	}

	.container {
		width:70vw;
		margin:0 3vw;
	}
	.container .card {
		width:60vw;
	}
}

@media (min-width:700px) {
	.sidebar {
		width:25vw;
	}
	.sidebar .profile img {
		width:18vw;
		height:20vh;
	}
	.sidebar .profile {
		padding:3vh 3vw;
	}
	.sidebar .profile .name-users {
		margin:0 3vw;
	}

	.container {
		width:75vw;
		margin:0 2vw;
	}
	.container .card {
		width:68vw;
	}
}

@media (min-width:900px) {
	.sidebar {
		width:20vw;
	}
	.sidebar .profile img {
		width:12vw;
		height:15vh;
	}
	.sidebar .profile {
		padding:3vh 3vw;
	}
	.sidebar .profile .name-users {
		margin:0 4vw;
	}

	.container {
		width:80vw;
		margin:0 2vw;
	}
	.container .card {
		width:74vw;
	}
}

@media (min-width:1200px) {
	.sidebar {
		width:15vw;
	}
	.sidebar .profile img {
		width:8vw;
		height:13vh;
	}
	.sidebar .profile {
		padding:3vh 3vw;
	}
	.sidebar .profile .name-users {
		margin:0 2vw;
	}

	.container {
		width:85vw;
		margin:0 2vw;
	}
	.container .card {
		width:82vw;
	}

	.img-content {
		height:200px;
		width:200px;
	}
}

@media (min-width:1440px) {

}